
.clear { clear: both; }

body { font: normal 14px/1.25 Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
header, footer, section, article, hgroup, aside { display: block; }

h1, h2, h3, h4, h5, h6 { color: #112255; font-weight: bold; margin-top: 1.5em; }

h1 { font-weight: normal; border-bottom: 4px solid #CCC; margin-top: 0; }
h2, h3 { border-bottom: 1px solid #AAA; }
h2 { color: #333; }

h1 .name { font-weight: bold; }

p, ul, ol, pre { margin: 1em 0; }
hr { display: none; }
ul { list-style: square; margin-left: 0; padding-left: 3em; }
li { padding-left: 0; }
dd { margin-left: 0; padding-left: 1.5em; }
dt { font-weight: bold; }

a { text-decoration: none; color: #039; }

code { font-family: monospace; }
pre  { white-space: pre; font-family: monospace; font-size: .833em; border-left: 4px solid #CCC;
  display: block; padding-left: .75em; overflow: auto; margin-left: 1.5em; }


/* layout */

#main { width: 960px; padding: 1.5em 3em; margin: 0 auto; background: #FFF; color: #333; }

header { margin-bottom: 1em; }
header, h1.index { font-size: 2.5em; font-weight: normal; margin-top: 0; border-bottom: 8px solid #CCC; }
header a { color: #333; }

#content { float: right; width: 70%; }

aside { float: left;  width: 27%; overflow: hidden; font-size: 12px; }
aside section { margin-bottom: 1.5em; }
aside h4 { margin: 0; padding: .2em .5em; background: #CCC; color: #333; border-bottom: 2px solid #AAA; }
aside ul { margin: 0; padding: 0; list-style: none; max-height: 300px; overflow: auto; }


/* page: index */
#index .tree { -moz-column-count: 2; -moz-column-gap: 3em; -webkit-column-count: 2; -webkit-column-gap: 3em; }
.tree dl dt { margin-top: .75em; padding: 0; }
.tree dl dl dt { margin-top: 0; }
.tree dd { padding-left: 1em; margin-left: 0; border-left: 1px dotted #CCC; }
.tree dd.klass, .tree dd.func { padding-left: 0; border-left: 0; }


/* page: class */
/*.classes dd { padding-left: 0; }*/

#class > .description { background: #F4F4F4; padding: 1em; }
#class > .description :first-child { margin-top: 0; }
#class > .description :last-child  { margin-bottom: 0; }

h1 .abstract { font-size: .5em; float: right; color: #888; font-weight: bold;
  font-style: italic; text-transform: lowercase; margin-top: 1.25em; }

.attributes { list-style: none; padding-left: 0; line-height: 2.0; }
.attributes .visibility { color: #888; display: inline-block; width: 6em; }
.attributes .name { font-weight: bold; margin-right: 1.5em; }

.functions h3, #methods h3 { background: #CCC; color: #000; font-size: 1em; padding: .2em .5em; }

.arguments { font-weight: normal; }

