
.clear { clear: both; }

body { font: normal 12px/1.5 "lucida grande", verdana, sans-serif; background: #AAA; }

h1 { margin-top: 0; border-bottom: .25em solid #CCC; }
h2 { border-bottom: .125em solid #CCC; }

hr { display: none; }

ul { list-style: square; margin-left: 0; padding-left: 1.5em; }
li { padding-left: 0; }
dd { margin-left: 0; padding-left: 1.5em; }
dt { font-weight: bold; }

a { text-decoration: none; }

code { font-family: monospace; white-space: pre; border: 1px solid #DDD;
  display: block; padding: .5em; overflow: auto; margin: 1.5em 0; border-left-width: 4px; }


#main    { width: 900px; padding: 1.5em 3em; margin: 0 auto; background: #FFF; color: #333; }
#content { float: right; width: 70%; }
#navbar  { float: left;  width: 26%; overflow: hidden; }

#navbar a { color: #66F; }
#navbar .selected a { font-weight: bold; }

#header, h1.index { font-size: 2.5em; font-weight: normal; margin-top: 0; border-bottom: .5em solid #CCC; }
#header a { color: #333; }


.tree { -moz-column-count: 2; -moz-column-gap: 3em; -webkit-column-count: 2; -webkit-column-gap: 3em; }
.tree dt { margin-top: 1.5em; }
.tree dl dt { margin-top: .75em; font-weight: normal; }

.classes dd { padding-left: 0; }


#class dd { margin-bottom: 1.5em; padding-left: 0; }
#class li { display: inline; }
#class li:after { content: ', '; }

h1 .abstract { font-size: .5em; float: right; color: #888; font-weight: bold;
  font-style: italic; text-transform: lowercase; margin-top: 1.25em; }

.method { margin-bottom: 3em; }
.method h3 { font-size: 1em; font-weight: normal; background: #EEE; padding: .5em; border-top: 1px solid #DDD; }
.method h3 .name { font-weight: bold; }
.method h3 .visibility { float: right; font-weight: bold; color: #888; font-style: italic; }
.method > * { padding: 0 .5em; }

