
.clear { clear: both; }

body { font: normal 14px/1.25 sans-serif; margin: 0; padding: 1.5em; }
header, footer, section, article, hgroup, aside { display: block; }

h1, h2, h3, h4, h5, h6 { color: #125; font-weight: bold; margin-top: 1.5em; }
h4, h5, h6 { font-size: 1em; }

h1 { font-weight: normal; border-bottom: 4px solid #CCC; margin-top: 0; }
h2, h3 { border-bottom: 1px solid #AAA; }
h2 { color: #333; }
h3 { font-size: 18px; }

h1 .name { font-weight: bold; }

p, ul, ol, pre { margin: 1em 0; }
hr { display: none; }
ul { list-style: square; margin-left: 0; padding-left: 3em; }
li { padding-left: 0; }
dd { margin-left: 0; padding-left: 1.5em; }
dt { font-weight: bold; }

a { text-decoration: none; color: #039; }

code { font-family: monospace; background: #F4F4F4; font-size: .833em; }
pre  { white-space: pre; font-family: monospace; font-size: .833em; border-left: 4px solid #CCC;
  display: block; padding-left: .75em; overflow: auto; margin-left: 1.5em; }


body.index    { padding: 0; }
body.index h1 { font-size: 1em; font-weight: bold; background: #125; color: #FFF; border: 0; margin: 0; padding: 4px 2px; }
body.index ul { font-size: .833em; list-style: none; padding: 2px; margin: 0; white-space: nowrap; }


#class > .description { background: #F4F4F4; padding: 1em; }
#class > .description { background: #F4F4F4; padding: 1em; }
#class > .description :first-child { margin-top: 0; }
#class > .description :last-child  { margin-bottom: 0; }

h1 .abstract { font-size: .5em; float: right; color: #888; font-weight: bold;
  font-style: italic; text-transform: lowercase; margin-top: 1.25em; }

.attributes { list-style: none; padding-left: 0; line-height: 2.0; }
.attributes .visibility { color: #888; display: inline-block; width: 6em; }
.attributes .name { font-weight: bold; margin-right: 1.5em; }

.functions h3, #methods h3 { background: #CCC; color: #000; font-size: 1em; padding: .2em .5em; }

.arguments { font-weight: normal; }

